/models/
.idea
/../.idea/
/кирюхе/
/poseidonn/
/APP/models/
/APP/old_version/
/APP/tests/
/APP/промпт.txt
/APP/app_frontend/build/
/APP/app_frontend/node_modules/
/APP/app_frontend/public/
/Микропластик/
/APP/build/
/test/
/mintty.exe.stackdump
